body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.navbar-inverse .navbar-brand {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    color: #d9534f;
}

.navbar-inverse .navbar-brand:hover {
    color: #d2322d;
}